{% extends 'dash-base.html' %}
<html lang="en">

<head>
  {% block header %}
  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/album/">
  <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/services.css') }}" rel="stylesheet">
  {% endblock %}
</head>

{% block content %}
<main role="main">

  <section class="title jumbotron text-center">
    <div class="container">
      <h1>Service Hub</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary my-2" data-toggle="modal" data-target="#exampleModal">Ask for a Service</a>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ask for a Service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>




              <div class="modal-body">
                <form class="form-signin" method="POST">
                  <img class="mb-4" src="../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                  <h1 class="h3 mb-3 font-weight-bold">Service Details</h1>
                  {{form.hidden_tag()}}
                  {{form.title.label}} {{form.title(class_="form-control")}}
                  <!-- <input class="form-control" type="text" placeholder="Title">
                  <label for="exampleFormControlTextarea1"></label> -->
                  {{form.description.label}} {{form.description(class_="form-control", rows="3")}}
                  <!-- <textarea class="form-control" placeholder="Description" id="exampleFormControlTextarea1" rows="3"></textarea>
                  <label for="exampleFormControlTextarea1"></label> -->
                  <!-- <input class="form-control" type="number" placeholder="Reward"> -->
                  {{form.reward.label}} {{form.reward(class_="form-control")}}
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                   {{form.submit(class_="btn btn-primary")}}
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
        <a href="#services" class="btn btn-secondary my-2">Find a Service</a>
      </p>
    </div>
  </section>

  <div class="album py-5">
    <div class="container">

      <div class="row">
        <a name="services"></a>
        {% for doc in dox %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            <div class="card-body">
              <p class="card-text">{{doc.to_dict()['title']}}</p>
              <p class="card-text">{{doc.to_dict()['description']}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#{{tool.num_remover(doc.id)}}Modal">View</button>
                  <div class="modal fade" id="{{tool.num_remover(doc.id)}}Modal" tabindex="-1" role="dialog" aria-labelledby="{{tool.num_remover(doc.id)}}ModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="{{tool.num_remover(doc.id)}}ModalLabel">Ask for a Service</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="card mb-4 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                              <title>Placeholder</title>
                              <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                            </svg>
                            <div class="card-body">
                              <p class="card-text">{{doc.to_dict()['title']}}</p>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              <div class="d-flex justify-content-between align-items-center">

                              <small class="text-muted">Reward</small>
                            </div>
                          </div>
                        </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <small class="text-muted">Reward: ${{doc.to_dict()['reward']}}</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
  </div>

  
  <footer class="title text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script>
    window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')
  </script>
  <script src="../assets/dist/js/bootstrap.bundle.js"></script>
</main>
{% endblock %}
<body>
  
    




</html>
